{{#if myerror}}
<div class='container p-5 m-5'>
    <h2>{{myerror}}</h2>
</div>
{{/if}}



<div class='bk'>
    <div>
        <img class='bk pt-5' src="/images/header.svg" alt="site-background">
    </div>
    <div class='container pl-5 text-align-center'>
        <h1 class='text-white'>Our Menu:</h1>
    </div>


    <div class="container p-5">
        <div class="row">
            {{#each menu}}
            <form>
                <div class="col  pt-3">
                    <div class="card" style="width: 20rem;">
                        <img src="https://source.unsplash.com/weekly?pizza" class="card-img-top" alt="...">
                        <div class="card-body">
                            {{!-- <p class="card-text">{{this._id}}</p> --}}
                            <div class='container'>
                                <h5 class="card-text d-flex justify-content-start font-weight-bold">{{this.name}}</h5>
                                <p class="card-text pt-2">{{this.ingredients}}</p>
                                <div class='row'>
                                    <div class='col-sm'>
                                        <p class="card-text d-flex justify-content-start text-success font-weight-bold">{{this.price}}€</p>
                                    </div>
                                    <div class='col-sm text-right'>
                                        <a class="btn btn-success " href="/user/newRoute/{{this._id}}">Add to cart</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {{/each}}

        </div>
    </div>






</div>